node_modules
.DS_Store
idea
.idea/*
dist
dist-ssr
*.local
.dfx
.history/*
game_bloc_backend/.idea/*
.vscode/*

target

.vessel

canister_ids.json

dfx.json

build.sh

.env
.mops
.mops/*

src/declarations