.slide {
  white-space: nowrap;
  position: relative;
}

.slide::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, transparent, #1b0f21);
  content: "";
  z-index: 2;
}

.slide::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, transparent, #1b0f21);
  content: "";
  z-index: 2;
}

@keyframes anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slider {
  animation: 30s anim infinite linear;
  display: inline-block;
}

.slide:hover .slider {
  animation-play-state: paused;
}
