@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("./fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    /* background-color: #08010e; */
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans";
    overflow-x: hidden;
    background-color: #01070e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    max-height: fit-content;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

/* Resize none for text area */
.resize {
  resize: none;
}

/* STEP CSS EDIT */
.step {
  display: flex;
  flex-direction: row !important;
}

:where(
    .css-dev-only-do-not-override-1lmxa3x
  ).ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical)
  .ant-steps-item-tail {
  display: none;
}

:where(.css-dev-only-do-not-override-1lmxa3x).ant-steps.ant-steps-vertical
  > .ant-steps-item
  .ant-steps-item-icon {
  margin-inline-end: 6px;
}
:where(.css-dev-only-do-not-override-smzi3m).ant-steps.ant-steps-vertical
  > .ant-steps-item:not(:last-child)
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  display: none !important;
}

:where(.css-dev-only-do-not-override-1lmxa3x).ant-steps.ant-steps-vertical
  > .ant-steps-item:not(:last-child)
  s
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  display: none;
}

:where(.css-dev-only-do-not-override-1lmxa3x).ant-steps.ant-steps-small
  .ant-steps-item-tail {
  top: 8px;
  width: 100%;
  height: 2px;
}

/* ANT TABLE CONFIG */

/* profile Transaction */
:where(.css-dev-only-do-not-override-h3olvm).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: #595959 !important;
}
:where(.css-dev-only-do-not-override-h3olvm).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  border-bottom: none !important;
}

/* leaderboard */
:where(.css-dev-only-do-not-override-14q9o).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: #595959 !important;
}
:where(.css-dev-only-do-not-override-14q9o).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  border-bottom: none !important;
}

/* .ant-table-thead > tr > th {
  border-bottom: 1px solid #595959 !important; /* Custom color and thickness */
/* } */

/* :where(.css-dev-only-do-not-override-1lmxa3x).ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  rotate: -90deg;
  height: 120%;
  top: -1rem;
  left: 65%;
} */

/* Antd table css styles */

/* thead[class*="ant-table-thead"] th {
  background-color: #01070e !important;
} */
/* tbody > tr > td {
   background-color: #081729;
} */

/* .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #1d4372 !important;
} */
/* .ant-table-tbody > tr.ant-table-row > td {
  border-color: #01070e;
}
.ant-table-thead > tr > th {
  border: none !important;
} */

/* .ant-picker-cell {
   color: white !important;
 } */

/* .ant-table {
  background-color: #01070e !important;
} */

/* .rowClassName1 {
  border-radius: 10px;
}

.rowClassName1 td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rowClassName1 td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */

/* PAGINATION BUTTONS */

.pagBttns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.pagBttns li {
  text-decoration: none;
  list-style-type: none;
}

.pagBttns a {
  padding: 5px;
  margin: 4px;
  font-size: 18px;
  color: #f6b8fc;
}

.pagBttns a:hover {
  color: #f6b8fc;
}

.activeBtn a {
  color: #fff;
  font-size: 1rem;
}

.ProseMirror {
  padding: 10px;
  background: transparent;
  border-radius: 0 0 5px 5px;
  min-height: 100px;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror h1 {
  line-height: 1.1;
  font-size: 2.5em;
}
.ProseMirror h2 {
  line-height: 1.1;
  font-size: 2em;
}
.ProseMirror h3 {
  line-height: 1.1;
  font-size: 1.5em;
}
.ProseMirror h4 {
  line-height: 1.1;
  font-size: 1.2em;
}
.ProseMirror h5 {
  line-height: 1.1;
  font-size: 1.1em;
}
.ProseMirror h6 {
  line-height: 1.1;
  font-size: 1em;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}
